.player__controls {
    display: flex;
    margin-left: 2.3rem;
    width: 20rem;
    background: none;
	    border: none;
	    font: inherit;
	    cursor: pointer;
	    outline: none;
    
    // play/pause buttons smoother
    .smooth, .smooth2 {
        animation: opacitySmooth 1s ease-in 1;
    }

    @keyframes opacitySmooth {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    button {
        background: none;
	    border: none;
	    font: inherit;
	    cursor: pointer;
	    outline: none;
                
        &:hover {
            opacity: 0.7;
        }
    }
    
    button + button {
        margin-left: 4.5rem;
    }
}